#articlemenu1
  .relative
    %a#ad1.dropdown{href: "about_the_author"}
      %span About the Author
    #articledropdown1.dropdown-menu
      .inner
        %img.headshot{src: gravitar(author.email) }
        %dl
          %dt Name:
          %dd&= author.name
        :if author.github
          %dl
            %dt Github:
            %dd= github(author.github)
        :if author.bitbucket
          %dl
            %dt BitBucket:
            %dd= bitbucket(author.bitbucket)
        :if author.twitter
          %dl
            %dt Twitter:
            %dd= twitter(author.twitter)
        :if author.location
          %dl
            %dt Location:
            %dd&= author.location
        :if author.homepage
          %dl
            %dt Links:
            %dd
              %a{href: author.homepage} Homepage

#articlemenu2
  .relative
    %a#ad2.dropdown{href: "about_the_article"}
      %span About the Article
    #articledropdown2.dropdown-menu
      .inner
        :if article.date
          %dl{title: article.date}
            %dt
              Date Released:
            %dd
              &= formatDate(article.date, "%l %F %j, %Y")
        :if article.lastUpdated
          %dl{title: article.lastUpdated}
            %dt
              Last Updated:
            %dd
              &= formatDate(article.lastUpdated, "%l %F %j, %Y")


        :if article.uniqueSnippets
          %dl
            %dt
              Code Samples:
            %dd
              %ul
                :each base, snippet in article.uniqueSnippets
                  %li
                    %a{ href: snippet.filename}
                      &= base

        %dl
          %dt
            Revisions:
          %dd
            %ul
              :each version, stat in article.log
                %li{title: stat.message}
                  %a{ href: "/#{version}/#{article.name}" }
                    &= new Date(stat.date).toUTCString()

        :if article.related && article.related.length > 0
          %dl
            %dt
              Other Articles by this Author
            %dd
              %ul
                :each related in article.related
                  %li
                    %a{href: "/" + related.name}&=related.title
.fullarticle
  :if article.version
    %a.sha-version{ href: "/#{article.version}/#{article.name}" } Static Version
  %h1
    %a{href: "/" + article.name}&= article.title
  = markdownEncode(article.markdown)
  %hr{style:"clear:both"}



    #disqus_thread
    :script
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'capptutorials'; 

      var disqus_developer = 1; // developer mode is on
      // The following are highly recommended additional parameters. Remove the slashes in front to use.
      // var disqus_identifier = 'unique_dynamic_id_1234';
      var disqus_url = "http://capptutorials.net/#{article.name}";

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();

  %noscript
    Please enable JavaScript to view the 
    %a(href="http://disqus.com/?ref_noscript")comments powered by Disqus.
  %a.dsq-brlink(href="http://disqus.com")
    blog comments powered by
    %span.logo-disqus
       Disqus




